<?xml version="1.0" encoding="UTF-8"?>
 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5"> 
 <servlet>   
     <servlet-name>HttpClusterServlet</servlet-name>   
     <servlet-class>weblogic.servlet.proxy.HttpClusterServlet</servlet-class>   
     <init-param>    
       <param-name>WebLogicCluster</param-name>    
       <param-value>localhost:9003|localhost:9005|localhost:9007</param-value>  
     </init-param>   
 </servlet>
 
 <servlet-mapping>  
    <servlet-name>HttpClusterServlet</servlet-name>  
    <url-pattern>/</url-pattern> 
 </servlet-mapping>   
 <servlet-mapping>   
    <servlet-name>HttpClusterServlet</servlet-name> 
    <url-pattern>*.jsp</url-pattern> 
 </servlet-mapping>   
<servlet-mapping>   
    <servlet-name>HttpClusterServlet</servlet-name>  
    <url-pattern>*.htm</url-pattern> 
 </servlet-mapping>   
 <servlet-mapping>   
    <servlet-name>HttpClusterServlet</servlet-name> 
    <url-pattern>*.html</url-pattern>
 </servlet-mapping> 
 </web-app>